.continents-container{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.continent {
  font-size: 16px;
  float: left;
  margin: 27px;
  color: whitesmoke;
}