.info-container {
  position: absolute;
  top: 204px;
  left: 20px;
  color: black;
  background: #ffffff99;
  height: 219px;
  width: 326px;
  font-size: 14px;
}

.info-title {
  width: auto;
}

.info {
  text-align: left;
  padding-left: 14px;
}