.news-container {
  position: absolute;
  top: 336px;
  left: 20px;
  width: 344px;
}

.card {
  display: flex;
  width: 10rem;
  height: 216px;
  font-size: 14px;
  opacity: .7;
  float: left;
  margin-right: 11px;
}

.card-title {
  margin-bottom: .75rem;
  font-size: 10px;
}

#news-link {
  width: 88px;
  font-size: 8px;
}